# Виртуальное окружение (самое важное)
venv/
ENV/
env/
downloads/
token.py
pls/
# Настройки PyCharm
.idea/
code
# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.toc
*.zip
*.pkg
*.pyz
*.csv
*.html
# Файлы окружения с секретами (пароли, API-ключи)
.env

# Базы данных (если используете локальные)
*.sqlite3
*.spec

# Логи
*.log
*.txt