# Виртуальное окружение
venv/
ENV/
env/
downloads/
token.py
pls/
dist/ffmpeg_bin/
dist/ffmpeg.exe
# Настройки PyCharm
.idea/
code
ffmpeg.exe

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.toc
*.zip
*.pkg
*.pyz
*.csv
*.html
# Файлы окружения с секретами (пароли, API-ключи)
.env

# Базы данных
*.sqlite3
*.spec

# Логи
*.log
*.txt
